@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font-family: "old-standard-tt-regular", sans-serif;
  --blue: #034694;
  --gray: #747687;
  --wine: #8c1a35;
  --ligthWine: #c65264;
  --ligthBlue: #5476cb;
}
